html {
  box-sizing: border-box;
  position: relative;
  font-size: 10px;
}

@media (max-width: 767px) {
  #root > div:not(.mobileLayout) {
    display: none;
  }
}

@media (min-width: 767px) {
  #root > div.mobileLayout {
    display: none;
  }
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: 0 none;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body.freez {
  overflow: hidden;
  height: 100%;
}

body,
input,
textarea,
select,
button,
span {
  font-family: 'OpenSans', sofia-pro, Helvetica, arial, sans-serif;
}

input {
  outline: none;
}

::placeholder {
  color: #8b8b8e;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #8b8b8e;
}

:-ms-input-placeholder {
  color: #8b8b8e !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-ms-clear {
  display: none;
}

a:not(.button) {
  font-family: 'OpenSans-SemiBold', sofia-pro, Helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  transition: 350ms ease all;
  color: #2372d5;
  text-decoration: none;
}
a:not(.button):hover {
  color: #1f6eda;
}

#root {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  margin-top: 1.2rem;
}

li {
  display: list-item;
  margin-bottom: 0.8rem;
  margin-left: 1.8rem;
}

li:last-child {
  margin-bottom: 0;
}
/*
   * CSS Fade In transitions
   */
.fade-in-appear,
.fade-in-appear-active {
  transform: translateY(-5rem);
}
.fade-in-appear-done {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: ease-out;
}

/*
   * CSS Slide Left transitions
   */
.slide-left-appear,
.slide-left-appear-active {
  opacity: 0;
  transform: translateX(5rem);
}
.slide-left-appear-done {
  opacity: 1;
  transform: translateX(0);
  transition-duration: 500ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
}

/*
   * CSS Slide Up transitions
   */
.slide-up-appear,
.slide-up-appear-active {
  opacity: 0;
  transform: translateY(10rem);
}
.slide-up-appear-done {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 500ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
}

/*
    svg
  */
svg.recharts-surface {
  overflow: visible;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

/* open-sans-600normal - latin */
@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/* open-sans-700normal - latin */
@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

.mobileLayout {
  padding: 3.2rem;
}
